export(geodistance)
export(mobility.smooth)
export(mobility.summarize)
export(home)
export(leavehome)
export(intervals)
export(plot.intervals)
export(walkspeed)
export(plot.walkspeed)
import(geosphere)
